@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: #3a6cf4;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
.navigation a:hover{
    color: #601cfc;

}
body{
    background-color: rgb(0,19,70);
}
section{
    padding-top: 170px;
    padding-left: 350px;
}
h2 {
    display: inline-block;
    color: #4e9eff;
    font-size: 1.5em;
    font-weight: 600;
    
}
h3 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 50px;
}

h4 {
    color: #fff;
    font-size: 0.9em;
    font-weight: 300;
    padding-left: 50px;
}